<!-- <link rel="stylesheet" href="assets/css/highlight-theme.css"> -->
<!-- <script src="assets/plugins/highlight/highlight.pack.js"></script> -->
<!-- <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script> -->
<!-- <script>hljs.initHighlightingOnLoad();</script> -->
<script src="{root}assets/plugins/prism.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{root}assets/plugins/viewer/viewer.min.js"></script>
<script src="{root}assets/plugins/viewer/jquery-viewer.min.js"></script>

<script src="{root}assets/js/main.js"></script>
<script src="{root}assets/selectic/selectic.min.js"></script>
<script>
;(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://easyvkdocument.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script type="text/javascript">
  VK.init({apiId: 7373144, onlyWidgets: true});
</script>
<script type="text/javascript">
VK.Widgets.Comments("vk_comments", {limit: 20, attach: "*"});
VK.Widgets.Like("vk_like", {type: "button"});
</script>