body{
	color: #B8B8B8;
}

#content,.header,#sidebar,.docs {
	background-color: #111111 !important;
	color: #B8B8B8 !important;
}
.header {
	background: #0E0E0E !important;
}

.logo {
	display: none;
}

.logo-white {
	display: inline-block;
}

pre, code {
  background: #1D1D1D !important;
  border: none !important;
}

code[class*="language-"], pre[class*="language-"] {
	text-shadow: none;;
	color: #B8B8B8;
}

.big-quote p,.soc-link, .nav li.active{
	background: #222222 !important;
	border: none;
}

.post .white {
	background: #111111 !important;
	border: none;
	width: 110%;
}
.post {
	background-color: #111111;
	box-shadow: none;
	border-radius: 0px;
}

.nav li.active {
	background: #0D0D0D !important;
}

p,.soc-link {
	color: #DADADA !important;
}

#sidebar {
	border-right: none;
}

.nav li.active > a {
	color: #EEEEEE;
}

.nav li a {
	color: #B8B8B8;
}

.nav .method {
	color: #07A282;
}

.nav .object {
	color: #C6C6C6;
}

.nav .property {
	color:  #07A282;
}

.selectric, .selectric .button, select {
	background: #222222 !important;
	color: #EEEEEE !important; 
}

.selectric .label, .selectric .button:after {
	color: #EEEEEE !important;
	border-top-color: #EEEEEE;
}

.token.punctuation {
	color: #B8B8AB;
}

.token.function, .token.class-name {
	color: #FFA33D;
}

.token.string {
	color: #39BAB9;
}

.token.property, .token.tag, .token.boolean, .token.number, .token.constant, .token.symbol, .token.deleted {
	color: #F29718;
}

.token.interpolation {
	color: #B8B8B8;
}

.spoiler {
	border: none;
	background-color: #0C0C0C;
}

.spoiler .spoiler-name {
	color: #B8B8B8;
}

.line-numbers .line-numbers-rows {
	color: black !important;
}

.line-numbers-rows > span:before {
	color: #B8B8B8 !important;
}

.line-numbers .line-numbers-rows {
	border-right-color: #B8B8B8 !important;
}

.nav > li > ul li a:hover {
	background-color: #171717;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: #0E0E0E;
}

img {
	opacity: 0.7;
}

.selectric-items {
	background: #222222;
}

.selectric-items li.selected {
	background: #191919;
}

.selectric-items li {
	color: #EEEEEE;
}

.selectric-items li:hover {
	background: #191919;
	color: #EEEEEE;
}

.notify-block.white {
	background: #0D0D0D;
}