@import url('https://fonts.googleapis.com/css?family=Roboto');

select {
	background-color: #fff;
	color: rgb(68,68,68);
	font-size: 14px;
	border-radius: 3px;
	box-shadow: 0px 0px 5px rgba(0,0,0,.1);
	border: none;
	padding: 10px 5px 10px 5px;
}

body, html {
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
	color: #333;
	height: 100%;
}

.default {
	color: #aaa;
}

.date-edit {
	font-size: 12px;
	color: #aaa;
	font-weight: normal;
	display: block;
	margin-left: 15px;
}


.spoiler {
	display: block;
	background-color: #F7FCFB;
	border-radius: 3px;
	border: solid 1px #f0f0f0;
	margin-bottom: 25px;
	box-shadow: 0px 0px 1px rgba(0,0,0,.1);
	margin-left: 15px;
	margin-right: 15px;
}

.spoiler .spoiler-name {
	padding: 15px 15px;
	color: #0071A6;
	cursor: pointer;
}

.spoiler .spoiler-content {
	display: none;
}

button {
	background-color: rgba(0,195,151,.5);
	color: #fff;
	border: none;
	border-radius: 10px;
	padding: 5px 15px;
	box-shadow: 0px 0px 5px rgba(0,0,0,.1);
	/*font-weight: bold;*/
	font-size: 18px;
	min-width: 120px;
	outline: none;
}

button:hover {
	background-color: rgba(0,195,151,.6);
}

code.h {
	background: #FBFCFE;
	border-radius: 3px;
	border: solid 1px #f0f0f0;
	padding: 2px 5px;
}


.no-padding {
	padding: 0;
}

a {
	color: #00A982;
}

a:hover {
	color: #00C397;
}

a.dark-link {
	color: black;
	text-decoration: underline !important;
}

a.dark-link:hover {
	text-decoration: none !important;
	color: #333 !important;
}


.header a:hover {
	color: #fff;
}

.theme > ul li {
	margin-top: 20px;
}


section.header {
	height: 80px;
	max-height: 80px;
	overflow: hidden;
	width: 100%;
	left: 0;
	right: 0;
	z-index: 10;
	position: relative;
}


section.body-develop {
	position: absolute;
	left: 0;
	top: 0;
	padding-top: 80px;
	height: 100%;
	width: 100%;
	max-width: 100%;
	right: 0;
}

.body-elem {
	overflow: auto;
}

.docs,.body-content {
	/*padding-top: 10px;*/
	padding-bottom: 10px;
	line-height: 24px;
}

.docs {
	overflow-x: auto;
}

.docs::-webkit-scrollbar-thumb {
	background-color: rgba(255,255,255,.4)
}


.small {
	font-size: 0.8em;
}

.bigger {
	font-size: 1.8em;
	font-weight: bold;
	line-height: 1.4em;
}


.nav {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav > li {
	padding: 5px 5px 5px 15px;
	display: inline-block;
	min-width: 100%;
}

.nav li a {
	color: inherit;
	text-decoration: none !important;
}

.nav > li > a {
	display: inline-block;
	padding: 5px 10px;
	margin-bottom: 8px;
	transition: all .1s;
	-webkit-transition: all .1s;
	-moz-transition: all .1s;
	-ms-transition: all .1s;
	-o-transition: all .1s; 
}

.nav > li > ul li a {
	padding: 5px 5px;
}

.nav > li > ul > li {
	padding-left: 0px;
}

.nav > li > ul li a:hover {
	/*text-decoration: underline !important;*/
	/*font-weight: bold;*/
	background-color: #F2F3F5;
	border-radius: 3px;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,.1);
}

.nav > li {
	margin: 0 auto;
}

.nav li.active > a {
	color: black; 
}

.nav li.active {
	background-color: #fff;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 3px;
	border-bottom: solid 1px #f0f0f0;
	border-top: solid 1px #f0f0f0;
	border-right: solid 1px #f0f0f0;
}

.nav > li.active {
	max-width: 90%;
	min-width: 90%;
}

.nav > li {
	margin-top: 15px;
	margin-bottom: 10px;
	padding-right: 15px;
}


.nav > li > ul li a {
	display: inline-block;
	padding-top: 6px;
	padding-bottom: 6px;
}

.nav li > ul {
	padding: 0;
	margin: 0;
	padding-left: 24px;
	padding-top: 8px;
}

.nav li > ul > li {
	font-size: 16px;
	/*color: rgba(255,255,255,.8);*/
}

.nav li ul {
	list-style: none;
}

.nav .object {
	/*color: rgb(255,221,0);*/
	color: rgb(66,66,66);
	/*font-weight: bold;*//
}

.nav .method {
	color: rgb(0,134,195);
	/*font-weight: bold;*/
}

.nav .property {
	color: #A65B00;
}

.nav .no-weight {
	font-weight: normal;
}

.nav li.disable {
	color: rgb(92,103,115);
	font-style: italic;
}

h1 {
	font-size: 4em;
	margin-top: 45px;
}

h2 {
	font-size: 2em;
}


.theme {
	margin-top: 45px;
	margin-bottom: 45px;
	font-size: 16px;
}

pre {
	position: relative;
	max-width: 90%;
	overflow-x: scroll !important;
    display: block;
    box-sizing: border-box;
}

pre * {
	font-weight: normal !important; 
}

pre .path {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-bottom: -28px;
	margin-right: 4px;
	font-size: 12px;
	color: #fff;
	background-color: #0F1419;
	border-radius: 5px;
	padding: 0px 5px;
	display: none;
}

code.code {
	color: rgb(255,85,85);
	font-weight: bold;
}


tr:nth-child(even) {
	background-color: #f2f2f2;
}

th, td {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

th:last-child, td:last-child {
	border-right: none;
}

th, td {
    padding: 15px;
    text-align: left;
    word-wrap: break-word;
}

th {
    text-align: left;
}

th {
    background-color: white;
    color: #424242;
}


table {
	display: block;
	white-space: nowrap;
	overflow-x: auto;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	border: 1px solid #ddd;
	border-radius: 3px;
}

tr {
	min-width: 100%;
}

img {
	max-width: 100%;
}

.opener {
	font-size: 2em;
	display: none;
}


.opacity-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    z-index: 666;
    visibility: hidden;
}

.notify-block .spoiler {
	background-color: #fafafa;
	box-shadow: 0px 0px 5px rgba(0,0,0,.1);
	overflow: hidden;
	border-radius: 30px;
	border: none;
	margin-top: 35px;
	display: inline-block;
	padding-right: 20px;
	margin-left: 25px;
}

.notify-block .spoiler .spoiler-name {
	padding: 15px 25px;
	background-color: #fff;
	display: inline-block;
	box-shadow: 0px 0px 5px rgba(0,0,0,.04);
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
}

.notify-block .spoiler .spoiler-content {
	background-color: #fafafa;
	padding: 15px 15px;
}


.notify-block {
	background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
	/*background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);*/
	border-radius: 15px;
	box-shadow: 0px 0px 5px rgba(0,0,0,.1);
	padding: 25px 25px;
	margin: 35px 0px 15px 0px;
	color: #fff;
}

.opacity-block .tap-me {
	display: none;
}

@media (max-width: 998px) {
	select {
		box-shadow: 0px 0px 3px rgba(0,0,0,.05);
		border: none;
		padding: 5px 5px 5px 5px;
	}
	.opener {
		display: inline-block;
	}	

	.docs {
		position: fixed;
		top: 0;
		left: 0;
		width: 285px;
		height: 120%;
		z-index: 667;
		max-width: 75%;
		visibility: hidden;
		background: rgb(252,253,255);
		box-shadow: 2px 0px 5px rgba(0,0,0,.16);
		-webkit-transition: -webkit-transform .3s;
		transition: -webkit-transform .3s;
		transition: transform .3s;
		transition: transform .3s, -webkit-transform .3s;
		-webkit-transform: translate(-100%);
		transform: translate(-100%);
	}

	.docs li {
		padding-left: 15px;
	}

	h1, h2 {
		font-size: 1.5em;
	}

	.docs.visible {
		visibility: visible;
	}

	.docs.active {
		transform: translateZ(0);
	}

	.opacity-block.visible {
    	visibility: visible;
    	background-color: rgba(0,0,0,.6);
	}

	.cursor {
	  display: inline-block;
	  /*margin: 10% 5%;*/
	  margin-bottom: 50px;
	  margin-right: -45px;
	  background-color: rgba(0,0,0,.2);
	  height: 25px;
	  width: 25px;
	  border-radius: 25px;
	}

	.tap {
	  height: 25px;
	  width: 25px;
	  border-radius: 50%;
	  z-index: 999; 
	  background-color: #fff;
	  -webkit-transform: scale(0);
	  transform: scale(0);
	  opacity: 1
	 
	}

	.tap--1 {
	     -webkit-animation: tapped--1 1500ms;
	  animation: tapped--1 1500ms infinite;
	}

	@-webkit-keyframes tapped--1 {
	  100% { -webkit-transform: scale(1.5);
	  opacity: 0
	  }
	}
	@keyframes tapped--1 {
	  100% { transform: scale(1.5); 
	  opacity: 0;}
	}

	.opacity-block .tap-me {
		display: block;
		width: 100%;
		text-align: right;
		color: #fff;
		height: 100%;
		line-height: 100vh;
		padding-right: 25px;
		color: rgb(192,192,192);
	}

	section.header {
		height: 60px;
	}

	h2 {
		word-wrap: break-word;
	}

	section.body-develop {
		padding-top: 60px;
	}
}

@media (min-width: 720px) {
	::-webkit-scrollbar {
	    width: 0.4em;
	    max-height: 0.4em;
	}
	 
	::-webkit-scrollbar-track {
	    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	}
	 
	::-webkit-scrollbar-thumb {
	  background-color: rgba(0,0,0,.2);
	  outline: 1px solid slategrey;
	  /*border-radius: 5px;*/
	}
}

@media only screen and (min-width: 768px) {
	pre code {
    	white-space: pre;
	}
}


html {
    height: 100%;
  }

  body {
    margin: 0;
    height: 100%;
    background-color: rgb(252,252,252);
  }

  #container {
    height: 100%;
    /*margin-bottom: 15px;*/
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
    padding: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-y: hidden;
    padding-top: 80px;
  }

  .nav {
    padding-bottom: 250px;
  }
	
  .nav ul > li {
  	color: #0071A6;
  	margin-top: 5px;
  }

  .nav li > span {
  	font-size: 12px;
  	display: block;
  	margin-left: 15px;
  	margin-top: 5px;
  	margin-bottom: 5px;
  	color: #666;
  }

  .nav li > span > a {
  	color: black;
  	text-decoration: underline;
  }

  #sidebar {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 25%;
    overflow: auto;
    background-color: #FCFDFF;
    border-right: solid 1px #fff;
    /*color: #fff;*/

  }

  #content {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 75%;
    overflow: auto;
    padding-left: 15px;
    background-color: #fff;
    padding-left: 25px;
    box-shadow: -10px 0px 20px 1px rgba(0,0,0,.1);
    position: relative;
  }

  #content.v2 {
  	font-size: 18px;
  	line-height: 1.7;
  }

  #content.v2 h1 {
  	font-size: 3.5em;
  	margin-bottom: 15px;
  }

  #content.v2 p, #content.v2 pre {
	margin-left: 15px;
	margin-right: 15px;
  }
  #content.v2 pre code {
  	max-width: 100%;
  }

  #content.v2 h2 {
  	font-size: 2em;
  }

  #content.v2 h2 span {
  	margin-right: 10px;
  	color: #aaa;
  }

  #content.v2 h2, #content.v2 h1 {
  	font-weight: bold;
  }

  .header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0cb1f2+0,89d4f4+100 */
    background: #fff; /* Old browsers */
    color: #222;
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
    z-index: 5;
    margin-bottom: 0px;
    height: 100%;
    padding: 0px 15px;
  }

  .wrap-header {
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
  }

  .opener {
    padding: 15px;
    cursor: pointer;
  }

  .header .header-content {
    height: 100%;
    box-sizing: border-box;
  }

  .container.wrap-header::after {
    display: none;
  }

  .container.wrap-header::before {
    display: none;
  }

  .flex-wrap {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
  }

  .soc-link {
    font-size: 20px;
    color: #fff;
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 38px;
    text-align: center;
    display: inline-block;
    background-color: #FCFDFF !important;
    color: #333 !important;
    border: solid 1px #f0f0f0;
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
  }
  .soc-link:hover {
  	color: black !important;
  }
	

  .big-quote {
  	display: inline-block;
  	border-top-left-radius: 6px;
  	border-top-right-radius: 6px;
  	overflow: hidden;
  	margin-left: 15px;
  }

  .big-quote p {
	display: block;
	border-top: solid 7px #00C397;
	/*border-bottom: solid 1px #f0f0f0;*/
	border-right: solid 1px #f0f0f0;
	border-left: solid 1px #f0f0f0;
	border-bottom: solid 1px #f0f0f0;
	padding: 15px 25px;
	background-color: #FBFCFE;
	margin: 0;
	margin-left: 0px !important;
  }

  .big-quote.danger p {
  	border-top-color: #FF5252;
  }

  .big-quote.danger p .ic {
  	color: #FF5252;
  }

  .big-quote p .ic {
  	font-size: 24px;
  	color: #00C397;
  	font-weight: bold;
  	margin-right: 25px;
  }

  @media (max-width: 998px) {

    #sidebar {
      width: 0%;
      position: absolute;
      left: 0;
    }

    #content {
      width: 100%;
      padding-left: 0px;
    }

    .soc, .logo{
      /*display: none;*/
    }

    #container {
      height: auto;
      margin-top: 80px;
      padding: 0px;
    }

    #main-content {
      padding: 15px;
    }

  }

.header h2 {
	display: inline-block;margin:0;margin-left: 25px;line-height: 80px;
}

.header .version-wrap {
	margin-left: 25px;display: inline-block;position: absolute;left: 0;top:25%;margin-right: 15px;
}

.footer {
	color: #B2B4B5;
	font-size: 14px;
	margin-top: 50px;
	margin-bottom: 10px;
}

@media (max-width: 498px) {

	h1, h2 {
		font-size: 1.8em !important;
		word-wrap: break-word;
	}	
		
	h2 {
		font-size: 1.5em !important;
	}

	.big-quote p {
		padding: 10px 15px;
	}

	.big-quote p .ic {
		display: block;
		width: 10%;
		height: 100%;
		float: left;
		text-align: center;
	}

	.big-quote {
		display: block;
	}

	#content.v2 {
		font-size: 16px;
	}

	.selectric .label, .selectric .button{
		line-height: 28px;
		height: 28px;
		margin-right: 0px;
	}

	.selectric {
		box-shadow: 0px 0px 3px rgba(0,0,0,.05);
	}

	.selectric .label {
		margin-right: 30px;
	}

	.selectric .button {
		width: 28px;
		margin-left: 5px;
	}
	
	.header .version-wrap {
		margin-top: 6px;
		margin-right: 0px;
		margin-left: 5px;
	}

	.opener {
		font-size: 28px;
		color: rgb(34,34,34);
	}

	.header h2 {
		font-size: 26px;
		font-weight: normal;
		margin: 0;
		text-transform: uppercase;
		margin-right: 40px;
	}

	.header {
		text-align: right;
	}

	.opener {
		float: left;
		margin-top: 10px;
	}

	.name-page {
		position: absolute;
	}

	section.header {
		padding-top: 10px;
	}

	.no-padding-mobile {
		padding: 0 !important;
	}

	.no-mobile {
		display: none;
	}

	.big-quote p .ic {
		display: none;
	}

	ul {
		padding-left: 30px;
	}
}