<div class="docs-nav-wrap docs">
	<ul class="nav">
		<li>
			<svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg> <a href="index.html" class="title bigger">Начнем</a>
			<ul>
				<li>
					<a href="index.html#easyvk">Для чего нужен EasyVK?</a>
					<span>EasyVK - лучшая библиотека для работы с ВК API <br> на Node.js</span>
				</li>
				<li>
					<a href="index.html#functions">Функционал EasyVK</a>
					<span>Неограниченные возможности работы с API ВКонтакте</span>
				</li>
				<li>
					<a href="index.html#installation">Установка</a>
					<span>Простая установка</span>
				</li>
			</ul>
		</li>
		<li>
			<svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg> <a href="easyvk.html" class="title bigger">Основное</a>
			<ul>
				<li>
					<a href="easyvk.html#concepts">Концепция работы с EasyVK</a>
				</li>
				<li>
					<a href="easyvk.html#first_step">Первый шаг</a>
					<span>Авторизация</span>
				</li>
				<li>
					<a href="easyvk.html#2fauthentication">Двухфакторная авторизация</a>
					<span>Сразу ДВА фактора!</span>
				</li>
				<li>
					<a href="easyvk.html#faq">База знаний</a>
					<span>FAQ</span>
				</li>
				<li>
					<a href="easyvk.html#acknowledgments">Благодарности</a>
				</li>
			</ul>
		</li>
		<li>
			<svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg> <a href="examples.html" class="title bigger">Примеры и шаблоны</a>
			<span>Познакомьтесь с Easy VK, прежде чем начать работу с документацией</span>
			<ul>
				<li>
					<a href="examples.html#send_message">Отправка сообщения</a>
					<span>Работаем с методами API ВК</span>
				</li>
				<li>
					<a href="examples.html#chat_bot">Чат-бот</a>
					<span>Работаем с LongPoll API</span>
				</li>
			</ul>
		</li>
		<li>
			<svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg> <a href="captcha.html" class="title bigger">Работа с капчей</a>
			<span>@ Ловите капчу! Ловите!</span>
			<ul>
				<li>
					<a href="captcha.html#captchaHandler">captchaHandler</a>
					<span>Основное свойство настроек EasyVK</span>
				</li>
			</ul>
		</li>
		<li>
			<a href="uploader.html" class="title bigger">Главное [ВРЕМЕННО НЕ РАБОТАЕТ]</a>
			<ul>
				<li>
					<a href="uploader.html#uploader_getUploadURL"><span class="object">vk</span>.<span class="span method">call</span>()</a>
					<span>Сделать запрос к ВК API</span>
				</li>
				<li>
					<a href=""><span class="object">easyvk</span>.<span class="span method">is</span>()</a>
				</li>
				<li>
					<a href=""><span class="object">easyvk</span>.<span class="span property">class</span></a>
				</li>
				<li>
					<a href=""><span class="object">easyvk</span>.<span class="span property">version</span></a>
				</li>
				<li>
					<a href=""><span class="object">easyvk</span>.<span class="span property">callbackAPI</span> </a>
					<span>Используйте Callback API без авторизации</span>
				</li>
				<li>
					<a href=""><span class="object">easyvk</span>.<span class="span property">streamingAPI</span></a>
					<span>Используйте Streaming API без авторизации</span>
				</li>
			</ul>
		</li>
		<li>
			<a href="uploader.html" class="title bigger">Статические методы [ВРЕМЕННО НЕ РАБОТАЕТ]</a>
			<span>Обращение к статическим методам происходит аналогично: easyvk.static.someMethod()</span>
			<ul>
				<li>
					<a href="uploader.html#uploader_getUploadURL"><span class="object">static</span>.<span class="span method">call</span>()</a>
					<span>Сделать запрос к ВК API без авторизации</span>
				</li>
			</ul>
		</li>
		<li>
			<a href="uploader.html" class="title bigger">Сессия VK [ВРЕМЕННО НЕ РАБОТАЕТ]</a>
			<ul>
				<li>
					<a href="uploader.html#uploader_getUploadURL"><span class="object">session</span>.<span class="span method">save</span>()</a>
				</li>
				<li>
					<a href="uploader.html#uploader_uploadFile"><span class="object">session</span>.<span class="span method">setPath</span>()</a>
				</li>
				<li>
					<a href="uploader.html#uploader_uploadFile"><span class="object">session</span>.<span class="span method">clear</span>()</a>
				</li>
				<li>
					<a href=""><span class="object">Метод использования</span></a>
				</li>
			</ul>
		</li>
		<li>
			<a href="uploader.html" class="title bigger">HTTP [ВРЕМЕННО НЕ РАБОТАЕТ]</a>
			<span>С помощью HTTP клиента можно делать то, что нельзя делать с официальным API <br>Связующие компоненты: <a href="">Client</a></span>
			<ul>
				<li>
					<a href="uploader.html#uploader_getUploadURL"><span class="object">http</span>.<span class="span method">loginByForm</span>()</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="uploader.html" class="title bigger">HTTP клиент [ВРЕМЕННО НЕ РАБОТАЕТ]</a>
			<ul>
				<li>
					<a href="uploader.html#uploader_getUploadURL"><span class="object">client</span>.<span class="span method">readFeedStories</span>()</a>
					<span>Посмотреть все новые истории друзей</span>
				</li>
				<li>
					<a href="uploader.html#uploader_getUploadURL"><span class="object">client</span>.<span class="span method">readStories</span>()</a>
					<span>Посмотреть истории пользователя</span>
				</li>
				<li>
					<a href=""><span class="object">client</span>.<span class="span span property">audio</span></a>
					<span>
						Это объект <a href="">AudioAPI</a>
					</span>
				</li>
			</ul>
		</li>
		<li>
			<a href="uploader.html" class="title bigger">Audio API [ВРЕМЕННО НЕ РАБОТАЕТ]</a>
			<span>Со временем возможно устревание, следите, чтобы всегда была последняя версия Audio API</span>
			<ul>
				<li>
					<a href="uploader.html#uploader_getUploadURL"><span class="object">audio</span>.<span class="span method">get</span>()</a>
					<span>Получить аудиозаписи</span>
				</li>
				<li>
					<a href="uploader.html#uploader_getUploadURL"><span class="object">audio</span>.<span class="span method">getById</span>()</a>
					<span>Получить аудиозапись</span>
				</li>
				<li>
					<a href="uploader.html#uploader_getUploadURL"><span class="object">audio</span>.<span class="span method">search</span>()</a>
					<span>Поиск аудиозаписей (<b>BETA</b>)</span>
				</li>
				<li>
					<a href="uploader.html#uploader_getUploadURL"><span class="object">audio</span>.<span class="span method">getLyrics</span>()</a>
					<span>(<b>ЛУЧШЕ НЕ ИСПОЛЬЗОВАТЬ</b>)</span>
				</li>
				<li>
					<a href="uploader.html#uploader_getUploadURL"><span class="object">audio</span>.<span class="span method">getCount</span>()</a>
				</li>
				<li>
					<a href="uploader.html#uploader_getUploadURL"><span class="object">audio</span>.<span class="span method">getUploadServer</span>()</a>
				</li>
				<li>
					<a href="uploader.html#uploader_getUploadURL"><span class="object">audio</span>.<span class="span method">upload</span>()</a>
				</li>
				<li>
					<a href="uploader.html#uploader_getUploadURL"><span class="object">audio</span>.<span class="span method">getURL</span>()</a>
				</li>
				<li>
					<a href="uploader.html#uploader_getUploadURL"><span class="object">audio</span>.<span class="span method">save</span>()</a>
				</li>
				<li>
					<a href="uploader.html#uploader_getUploadURL"><span class="object">audio</span>.<span class="span method">add</span>()</a>
				</li>
				<li>
					<a href="uploader.html#uploader_getUploadURL"><span class="object">audio</span>.<span class="span method">delete</span>()</a>
				</li>
				<li>
					<a href="uploader.html#uploader_getUploadURL"><span class="object">audio</span>.<span class="span method">edit</span>()</a>
				</li>
				<li>
					<a href="uploader.html#uploader_getUploadURL"><span class="object">audio</span>.<span class="span method">reorder</span>()</a>
				</li>

			</ul>
		</li>
		<li>
			<a href="uploader.html" class="title bigger">Загрузчик файлов [ВРЕМЕННО НЕ РАБОТАЕТ]</a>
			<span>Свободно загружайте нужные файлы на сервера ВКонтакте</span>
			<ul>
				<li>
					<a href="uploader.html#uploader_getUploadURL"><span class="object">uploader</span>.<span class="span method">getUploadURL</span>()</a>
					<span>Получите URL для загрузки</span>
				</li>
				<li>
					<a href="uploader.html#uploader_uploadFile"><span class="object">uploader</span>.<span class="span method">uploadFile</span>()</a>
					<span>И загрузите файл</span>
				</li>
			</ul>
		</li>
		<li>
			<a href="uploader.html" class="title bigger">Виджеты [ВРЕМЕННО НЕ РАБОТАЕТ]</a>
			<span>Неофициальные инструменты для получения чего-либо, что нельзя получить официально через API</span>
			<ul>
				<li>
					<a href="uploader.html#uploader_getUploadURL"><span class="object">widgets</span>.<span class="span method">getLiveViews</span>()</a>
					<span>Просмотры LIVE видео</span>
				</li>
			</ul>
		</li>
		<li>
			<a href="uploader.html" class="title bigger">Debugger [ВРЕМЕННО НЕ РАБОТАЕТ]</a>
			<span>Инструмент для дебага запросов и деятельности EasyVK в режиме реального времени</span>
			<ul>
				<li>
					<a href="uploader.html#uploader_getUploadURL"><span class="object">debugger</span>.<span class="span method">push</span>()</a>
					<span>Метод чаще используется в разработке EasyVK, но вы  ткже можете им воспользоваться</span>
				</li>
				<li>
					<a href="uploader.html#uploader_getUploadURL"><span class="object">debugger</span>.<span class="span method">on</span>("push")</a>
					<span>Узнайте о новом событии в EasyVK</span>
				</li>
				<li>
					<a href="uploader.html#uploader_getUploadURL"><span class="object">easyvk</span>.<span class="span property">debuggerRun</span></a>
					<span>Debugger изначально не доступен, поэтому запросы до авторизации вы можете прослушивать с помощью debuggerRun</span>
				</li>
			</ul>
		</li>
		<li>
			<a href="uploader.html" class="title bigger">VKResponse [ВРЕМЕННО НЕ РАБОТАЕТ]</a>
			<ul>
				<li>
					<a href="uploader.html#uploader_getUploadURL"><span class="object">response</span>.<span class="span method">getFullResponse</span>()</a>
				</li>
			</ul>
		</li>
		<!-- <li>
			<a href="uploader.html" class="title bigger">Загрузка файлов</a>
			<ul>
				<li>
					<a href="uploader.html#uploader_getUploadURL"><span class="object">uploader</span>.<span class="span method">getUploadURL</span>()</a>
				</li>
				<li>
					<a href="uploader.html#uploader_uploadFile"><span class="object">uploader</span>.<span class="span method">uploadFile</span>()</a>
				</li>
			</ul>
		</li> -->
		<li>
			<a href="uploader.html" class="title bigger">Классификация ошибок [ВРЕМЕННО НЕ РАБОТАЕТ]</a>
			<ul>
				<li>
					<a href="uploader.html#uploader_getUploadURL"><span class="object">vk</span>.<span class="span method">EasyVKError</span></a>
				</li>
				<li>
					<a href="uploader.html#uploader_uploadFile"><span class="object">vk</span>.<span class="span method">VKResponseError</span></a>
				</li>
			</ul>
		</li>
	</ul>
</div>